
developer/.cache/

developer/.config/Code/Cache/

developer/.config/Code/CachedData/

developer/.viminfo

developer/.bash_history

developer/code/Starter/Curso JavaScript ES6/Conceitos/curso-es6/node_modules/

developer/code/Starter/Curso JavaScript ES6/Conceitos/curso-es6/yarn.lock

developer/.vscode/extensions/formulahendry.code-runner-0.9.14/
