
developer/.cache/

developer/mongodb/

developer/.config/Code/Cache/

developer/.config/Code/CachedData/

developer/.viminfo

developer/.bash_history

developer/code/Starter/Curso JavaScript ES6/Conceitos/curso-es6/node_modules/

developer/code/Starter/Curso JavaScript ES6/Conceitos/curso-es6/yarn.lock

developer/.vscode/extensions/formulahendry.code-runner-0.9.14/

developer/downloads/

developer/code/Bootcamp/modulo01/CRUD/node_modules/

developer/code/Bootcamp/modulo01/DESAFIO/node_modules/

developer/code/Bootcamp/modulo01/middlewares/node_modules/

developer/code/Bootcamp/modulo01/query-e-route-params/node_modules/
