
developer/.cache/
developer/.cache/*
developer/Bootcamp/gobarber/.env
developer/mongodb/
developer/code/Bootcamp/modulo04/public/bundle.js

developer/.config/Code/Cache/

developer/.config/Code/CachedData/

developer/.viminfo

developer/.bash_history

developer/code/Starter/Curso JavaScript ES6/Conceitos/curso-es6/node_modules/

developer/code/Starter/Curso JavaScript ES6/Conceitos/curso-es6/yarn.lock

developer/.vscode/extensions/formulahendry.code-runner-0.9.14/

developer/downloads/

developer/code/Bootcamp/modulo01/CRUD/node_modules/

developer/code/Bootcamp/modulo01/DESAFIO/node_modules/

developer/code/Bootcamp/modulo01/middlewares/node_modules/

developer/code/Bootcamp/modulo01/query-e-route-params/node_modules/

developer/.config/Code/GPUCache/

developer/.config/Code/Local Storage/

developer/.config/Code/Cookies

developer/.config/configstore/update-notifier-nodemon.json

developer/.vscode/

developer/.npm/

developer/.config/

.~lock.Passos para criar uma aplicação Node.Js.doc#

developer/code/Helps/

developer/.bashrc

developer/code/Bootcamp/gympoint/node_modules/

developer/code/Bootcamp/gobarber/node_modules/

developer/mongodb /

developer/code/Bootcamp/gobarber/tmp/uploads/

developer/redis /

developer/postgres_data/

developer/code/Bootcamp/modulo04/node_modules/
